---

- name: assert | Test logrotate_frequency
  ansible.builtin.assert:
    that:
      - logrotate_frequency is defined
      - logrotate_frequency is string
      - logrotate_frequency in [ "hourly", "daily", "weekly", "monthly" ]
    quiet: true

- name: assert | Test logrotate_keep
  ansible.builtin.assert:
    that:
      - logrotate_keep is defined
    quiet: true

- name: assert | Test logrotate_compress
  ansible.builtin.assert:
    that:
      - logrotate_compress is defined
      - logrotate_compress is boolean
    quiet: true

- name: assert | Test logrotate_dateext
  ansible.builtin.assert:
    that:
      - logrotate_dateext is defined
      - logrotate_dateext is boolean
    quiet: true

- name: assert | Test logrotate_create
  ansible.builtin.assert:
    that:
      - logrotate_create is defined
      - logrotate_create is boolean
    quiet: true

- name: assert | Test logrotate_user
  ansible.builtin.assert:
    that:
      - logrotate_user is defined
      - logrotate_user is string
      - logrotate_user is not none
    quiet: true

- name: assert | Test logrotate_group
  ansible.builtin.assert:
    that:
      - logrotate_group is defined
      - logrotate_group is string
      - logrotate_group is not none
    quiet: true

- name: assert | Test logrotate_entries
  ansible.builtin.assert:
    that:
      - logrotate_entries is iterable
    quiet: true
  when:
    - logrotate_entries is defined

- name: assert | Test mandatory items in logrotate_entries are set correctly
  ansible.builtin.assert:
    that:
      - item.name is defined
      - item.name is string
      - item.name is not none
      - >
        (item.path is defined and item.path is string and item.path is not none
         and item.paths is not defined)
        or
        (item.paths is defined and item.paths is iterable and item.paths is not string
         and item.paths is not mapping and item.path is not defined)
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - logrotate_entries is defined
    - item.state is not defined or item.state != "absent"

- name: assert | Test paths in logrotate_entries (each path is string)
  ansible.builtin.assert:
    that:
      - (item.paths | reject("string") | list | length) == 0
      - (item.paths | select("none") | list | length) == 0
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - logrotate_entries is defined
    - item.state is not defined or item.state != "absent"
    - item.paths is defined

- name: assert | Test state in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.state is string
      - item.state in [ "present", "absent" ]
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.state is defined

- name: assert | Test frequency in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.frequency is string
      - item.frequency in [ "hourly", "daily", "weekly", "monthly" ]
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.frequency is defined

- name: assert | Test keep in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.keep is number
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.keep is defined
    - item.keep is number

- name: assert | Test compress in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.compress is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.compress is defined

- name: assert | Test delaycompress in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.delaycompress is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.delaycompress is defined

- name: assert | Test postrotate in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.postrotate is string
      - item.postrotate is not none
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.postrotate is defined

- name: assert | Test prerotate in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.prerotate is string
      - item.prerotate is not none
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.prerotate is defined

- name: assert | Test missingok in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.missingok is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.missingok is defined

- name: assert | Test nomissingok in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.nomissingok is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.nomissingok is defined

- name: assert | Test create_* in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.create_mode is defined
      - item.create_mode is string
      - item.create_mode is not none
      - item.create_user is defined
      - item.create_user is string
      - item.create_user is not none
      - item.create_group is defined
      - item.create_group is string
      - item.create_group is not none
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.create_mode is defined or
      item.create_user is defined or
      item.create_group is defined

- name: assert | Test maxsize in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.maxsize is string
      - item.maxsize is not none
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.maxsize is defined

- name: assert | Test minsize in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.minsize is string
      - item.minsize is not none
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.minsize is defined

- name: assert | Test notifempty in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.notifempty is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.notifempty is defined

- name: assert | Test copylog in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.copylog is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.copylog is defined

- name: assert | Test copytruncate in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.copytruncate is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.copytruncate is defined

- name: assert | Test sharedscripts in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.sharedscripts is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.sharedscripts is defined

- name: assert | Test dateext in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.dateext is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.dateext is defined

- name: assert | Test dateformat in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.dateformat is string
      - item.dateformat is not none
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.dateformat is defined

- name: assert | Test dateyesterday in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.dateyesterday is boolean
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.dateyesterday is defined

- name: assert | Test su in logrotate_entries
  ansible.builtin.assert:
    that:
      - item.su is string
      - item.su is not none
    quiet: true
  loop: "{{ logrotate_entries }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.su is defined

- name: assert | Test logrotate_service_state
  ansible.builtin.assert:
    that:
      - logrotate_service_state is defined
      - logrotate_service_state is string
      - logrotate_service_state in [ "started", "stopped" ]
    quiet: true

- name: assert | Test logrotate_service_enabled
  ansible.builtin.assert:
    that:
      - logrotate_service_enabled is defined
      - logrotate_service_enabled is boolean
    quiet: true
