---
# tasks file for logrotate

- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  run_once: yes
  delegate_to: localhost

- name: Install logrotate
  ansible.builtin.package:
    name: "{{ logrotate_packages }}"
    state: present

- name: Configure logrotate
  ansible.builtin.template:
    src: "{{ logrotate_config_file }}.j2"
    dest: "{{ logrotate_config_directory }}/{{ logrotate_config_file }}"
    mode: "0644"

- name: Generate logrotate.d files
  ansible.builtin.template:
    src: entry.j2
    dest: "{{ logrotate_confd_directory }}/{{ item.name }}"
    mode: "0644"
  loop: "{{ logrotate_entries }}"
  when:
    - logrotate_entries is defined
  loop_control:
    label: "{{ item.name }}"

- name: Generate cron or systemd timer scheduling
  when: logrotate_set_scheduling
  block:
    - name: Check if systemd is active
      ansible.builtin.stat:
        path: /run/systemd/system
      register: systemd_active
      when: logrotate_schedule_force_cron is not defined or not logrotate_schedule_force_cron

    - name: actions block when systemd is active
      when: systemd_active.stat.exists
      block:
        - name: Folder for timer exists
          ansible.builtin.file:
            path: "{{ logrotate_systemd_timer_directory }}"
            state: directory
            mode: "0755"

        - name: Generate systemd timer scheduling
          ansible.builtin.template:
            src: logrotate.timer.j2
            dest: "{{ logrotate_systemd_timer_directory }}/logrotate.timer"
            mode: "0644"
          notify: Reload systemd

        - name: flushing handlers
          ansible.builtin.meta: flush_handlers

        - name: Enable logrotate timer
          ansible.builtin.systemd:
            name: logrotate.timer
            daemon_reload: true
            state: started
            enabled: true
          when:
            - logrotate_schedule_file is defined
            - logrotate_schedule_file == "logrotate.timer"

        - name: Remove cron scheduling
          ansible.builtin.file:
            path: "{{ logrotate_cron_directory_base }}.{{ logrotate_scheduling }}/logrotate"
            state: absent

    - name: actions block when systemd is not active
      when: not systemd_active.stat.exists or (logrotate_schedule_force_cron is defined and logrotate_schedule_force_cron)
      block:
        - name: Generate cron scheduling
          ansible.builtin.template:
            src: logrotate.cron.j2
            dest: "{{ logrotate_cron_directory_base }}.{{ logrotate_scheduling }}/{{ logrotate_cron_filename }}"
            mode: "0644"

        - name: Remove cron schedule for not used schedule (daily/weekly)
          ansible.builtin.file:
            path: "{{ logrotate_cron_directory_base }}.{{ logrotate_scheduling == 'daily' | ternary('weekly', 'daily') }}/{{ logrotate_cron_filename }}"
            state: absent
