{{ ansible_managed | comment }}

{{ item.path }} {
{% if item.frequency is defined %}    {{ item.frequency }}{% endif %}
{% if item.compress is defined %}{% if item.compress %}    compress{% endif %}{% endif %}
{% if item.keep is defined %}    rotate {{ item.keep }}{% endif %}

}
