{{ ansible_managed | comment }}

{{ item.path }} {

{% if item.frequency is defined %}    {{ item.frequency }}{% endif %}

{% if item.compress is defined and item.compress %}    compress{% endif %}

{% if item.delaycompress is defined and item.delaycompress %}    delaycompress{% endif %}

{% if item.keep is defined %}    rotate {{ item.keep }}{% endif %}

{% if item.minsize is defined %}    minsize {{ item.minsize }}{% endif %}

{% if item.missingok is defined and item.missingok %}    missingok{% endif %}

{% if item.nomissingok is defined and item.nomissingok %}    nomissingok{% endif %}

{% if item.notifempty is defined and item.notifempty %}    notifempty{% endif %}

{% if item.copylog is defined and item.copylog %}    copy{% endif %}

{% if item.copytruncate is defined and item.copytruncate %}    copytruncate{% endif %}

{% if item.create is defined and item.create %}    create{% if item.create_mode is defined %} {{ item.create_mode }}{% endif %}{% if item.create_user is defined %} {{ item.create_user }}{% endif %}{% if item.create_group is defined %} {{ item.create_group }}{% endif %}{% endif %}

{% if item.sharedscripts is defined and item.sharedscripts %}    sharedscripts{% endif %}

{% if item.dateext is defined and item.dateext %}    dateext{% endif %}

{% if item.dateformat is defined and item.dateformat %}    dateformat {{ item.dateformat }}{% endif %}

{% if item.dateyesterday is defined and item.dateyesterday %}    dateyesterday{% endif %}

{% if item.postrotate is defined %}    postrotate
        {{ item.postrotate }}
    endscript{% endif %}

}
