{{ ansible_managed | comment }}

# see "man logrotate" for details
# rotate log files weekly
{{ logrotate_frequency }}

# keep 4 weeks worth of backlogs
rotate {{ logrotate_keep }}

# create new (empty) log files after rotating old ones
create

# uncomment this if you want your log files compressed
{% if logrotate_compress %}
compress
{% else %}
#compress
{% endif %}

# packages drop log rotation information into this directory
include /etc/logrotate.d

# system-specific logs may be configured here
